<div class="overflow p-2 bg-dark" ng-controller="ChatController" id="message-window">
    <div ng-repeat="m in messages">
        <!-- <div class="row border align-items-end" ng-class="m.sender_id != null ? 'justify-content-end' : 'justify-content-start'">-->
        <div class="mb-1" id="message-row">
            <div class="rounded p-1" ng-class="m.sender_id != null ? 'mine' : 'theirs'">
                // m.message //
            </div>
        </div>
    </div>
</div>
<div class="m-0 p-3" id="input-row">
    <form class="form-inline" method="post" ng-submit="sendMessage()">
        <div class="input-group col-sm-12">
            <div class="input-group-prepend">
                <div class="input-group-text">Message</div>
            </div>
            <input class="form-control" type="text" ng-model="message" name="message"/>
            <div class="col-auto">
                <button class="form-control ml-sm-3" type="submit" id="send">Send</button>
            </div>
        </div>
    </form>
    <a href="" ng-click="logout()">Logout</a>
</div>
