<div class="d-flex flex-column p-3 justify-content-end" ng-controller="ChatController">
    <div class="d-flex flex-row flex-grow-1 bg-secondary px-2" id="chat-log">
        <div class="d-flex flex-column justify-content-end w-100">
            <div ng-repeat="m in messages">
                <div class="d-flex" ng-class="m.sender_id == null ? 'flex-row' : 'flex-row-reverse'">
                    <p class="p-2 rounded-lg" ng-class="m.sender_id == null ? 'alert-info' : 'alert-light'">
                        // m.message //
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column bg-light p-3">
        <div class="d-flex flex-row">
            <div class="col-md-12">
                <form class="form-inline" method="post" ng-submit="sendMessage()">
                    <div class="input-group flex-fill">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Message</div>
                        </div>
                        <input class="form-control" type="text" ng-model="message" name="message" id="text"/>
                    </div>
                    <button class="form-control ml-sm-3" type="submit" id="send">Send</button>
                    <input type="hidden" ng-model="current_user" value="{{ current_user.id }}"/>
                </form>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center mt-2">
            <a href="/logout">Logout</a>
        </div>
    </div>
</div>
