
<!-- message window -->
<div class="row h-100" id="message-window">
    <div class="d-flex flex-column w-100 bg-dark p-2 justify-content-end"  >
        <div ng-repeat="m in messages" class="d-flex flex-row" ng-class="m.sender_id != null ? 'justify-content-end' : 'justify-content-start'" id="m// m.id //">
            <div class="rounded px-2 py-1" ng-class="m.sender_id != null ? 'mine' : 'theirs'">
                // m.message //
            </div>
        </div>
        <div id="bottom"></div>
    </div>
</div>

<!-- input window -->
<div class="row bg-light p-2" id="input-window">
    <form class="form-inline justify-content-between col-12" method="post" ng-submit="sendMessage()">
        <div class="form-group col-10 p-0">
            <div class="input-group p-0 w-100 justify-content-start">
                <div class="input-group-prepend">
                    <div class="input-group-text">Message</div>
                </div>
                <input class="form-control" type="text" ng-model="message" name="message"/>
            </div>
        </div>
        <div class="form-group">
            <button class="form-control" type="submit" id="send">Send</button>
        </div>
    </form>
</div>

