<div class="container-fluid bg-secondary" id="app">
    <div class="row row-col-1 justify-content-center h-100">
        <div class="d-flex flex-column my-auto mx-auto bg-light p-3">
            <h3 class="dialog-title">RockBlock Settings</h3>
            <form name="device">
                <label for="imei">RockBlock IMEI</label>
                <input class="form-control" type="text" name="imei" ng-model='device.imei'/>

                <label for="username">Rock7 Username</label>
                <input class="form-control" type="email" name="username" ng-model='device.username'/>

                <label for="password">New Rock7 Password</label>
                <input class="form-control bg-error" type="password" name="password1" ng-model='password1'/>

                <!-- <button type="submit" class="btn btn-primary" ng-click="update()" ng-hide="device == null">Update</button> -->
                <button type="submit" class="btn btn-primary" ng-click="save()">Submit</button>
            </form>
        </div>
    </div>
</div>
