<table class="table">
    <thead class="table-dark">
        <td>ID</td>
        <td>momsn</td>
        <td>Sender</td>
        <td>Message</td>
        <td>Action</td>
    </thead>
    <tbody class="table-light" ng-repeat="m in messages">
        <tr>
            <td>// m.id //</td>
            <td>// m.momsn //</td>
            <td>// m.sender_id //</td>
            <td>// m.message //</td>
            <td><button ng-click="deleteMessage(m)">Delete</button></td>
        </tr>
    </tbody>
</table>
