 #app {
    height: 100vh;
}

div.container.app-width {
    max-width: 40rem;
    min-height: 0;
    display: flex;
}

#app-main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#app-header {
/*
    height: 3rem;
    display: flex;
    flex: 1;
    flex-direction: row;
*/
}

.header-title {
    font-weight: bold;
}

#message-window {
    overflow-y: scroll;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: calc(100vh - 7rem - 3rem);
}

#message-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mine {
    background-color: #fff;
    margin-left: auto;
}

.theirs {
    background-color: #cef
}

.chat-input {
    height: 7rem;
    text-align: center;
}

.chat-form {
    margin: 0 auto 0 auto;
}
