#app {
    height: 100vh;
}

#header-window {
}

#input-window {
    /*height: 7rem;*/
}

#message-window {
    overflow-y: scroll;
    /*
    height: calc(100vh - 7rem - 3rem);
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    */
}

#message-row {
    /*
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    */
    min-height: 0;
    min-width: 0;
}

/*
#app-main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#header-title {
    font-weight: bold;
    margin-left: 0;
}

#input-row {
    height: 7rem;
    text-align: center;
}
*/

.mine {
    background-color: #fff;
}

.theirs {
    background-color: #cef
}

.chat-form {
    margin: 0 auto 0 auto;
}

.dialog-no-x.close {
    display: none;
}
