<!DOCTYPE html>
<html lang="en" ng-app="RockBlockApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RockBLOCK Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.14/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.14/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.14/angular-route.js"></script>
</head>

<body>
    <script src="{{ url_for('static', filename='app.module.js') }}"></script>
    <script src="{{ url_for('static', filename='message.service.js') }}"></script>
    <script src="{{ url_for('static', filename='rockblock.service.js') }}"></script>
    <script src="{{ url_for('static', filename='login.controller.js') }}"></script>
    <script src="{{ url_for('static', filename='chat.controller.js') }}"></script>

    <div ng-view></div>
</body>
</html>
